<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="NHibernate.Profiler"
      type="HibernatingRhinos.NHibernate.Profiler.Appender.NHibernateProfilerAppender, 
		HibernatingRhinos.NHibernate.Profiler.Appender" >
    <sink value="tcp://127.0.0.1:22897/NHibernateAppenderLoggingSink" />
  </appender>
  <logger name="NHibernate.Transaction.AdoTransaction">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Event.Default.DefaultInitializeCollectionEventListener">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Loader.Loader">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Event.Default.DefaultLoadEventListener">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Impl.AbstractSessionImpl">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.SQL">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Impl.SessionImpl">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <logger name="NHibernate.Persister.Entity.AbstractEntityPersister">
    <level value="DEBUG"/>
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
  <
</log4net>