#ignore outputs of project
build*/
CommonAssemblyInfo.cs
#ignore thumbnails created by windows
Thumbs.db
Desktop.ini
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Oo]bj/
*.sbr
build_output
code_drop
bin
obj
_ReSharper*
*.suo
*~
*.swp
*.bak
*.orig
*.log
TestResult.xml
submit.xml
SolutionVersion.cs

#Ignore Resharper files
*resharper.user
*.sln.cache
_ReSharper.*/
AssemblyInfo.cs
[Rr]elease*/
[Tt]est[Rr]esult*
*.ini