body {
margin:0;
padding:0;
background-color:#ffffff;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1em;
background: #666 url(/Content/NewImages/bg.jpg) repeat top left; }

a { color:#044497; text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; color: #0B70F9; }

strong { font-weight: bold; }

div.box, div.center-box
{
	background: #fff url(/Content/NewImages/box-bg.jpg) no-repeat bottom right; 
	font-size:.9em; 
	padding: 6px 6px 18px 6px; 
	margin-bottom: 12px; }
	
 

div.box ul { margin-top: 12px; }	

div.box li  
{
	margin: 3px 0 0 6px; 
	padding-left: 12px; 
	background: transparent url('/Content/NewImages/tiny-world.gif') no-repeat top left; 
	background-position: 0 5px;	}
	
div.box img { padding-left: 7px; }  
	
div#leftColumn h2, div#rightColumn h2  
{
	color: #CF9925; 
	font-weight: bold; 
	font-size: 1.1em;
	margin-left: 6px;  }

blockquote {
	margin:1em;
	padding:.5em;
	font-size:.9em;
	background-color:#cccccc;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999; }

blockquote p { margin:.2em; }

div#header { margin:2em 2em 0 2em;  border:1px solid #eeeeee; height: 101px;
          background: #fff url('/Content/NewImages/box-bg.jpg') no-repeat bottom right;        }

div#header img { margin: 4px 4px; }

div#header ul { border-top: 1px solid #ccc; margin: 0; }
div#header ul li { float: left;  list-style: none; border-right: 1px solid #ccc; border-right: 1px solid #fff; margin: 0 0; padding: 0 0;}
div#header ul li a { display: block; padding: 8px 8px; font-weight: bold; height: 25px;  } 
div#header ul li a:hover { background-color: #fff; } 

div#header div#topbanner { height: 60px; }

div#header #logo{ background: #fff url(/Content/NewImages/logo.png) no-repeat top left; height: 18px; width: 151px; padding-top: 29px; float: left;
                  margin: 6px 0 0 6px; }
                  
div#header #logo a { color: #CF9925;  font-weight: bold; font-size: .7em; margin: 0 0 0 58px; }

div#smelly { width: 600px; font-size: .75em; 
             float: right; margin: 14px 20px 0 0; background: #fff url(/Content/NewImages/smallWorld.png) no-repeat top left;
             height: 40px; padding-left: 41px; float: right;}

div#leftColumn {
	position:absolute;
	left:32px;
	width:320px;
	top:164px;
	margin:0; }

div#centerColumn {
	margin-top: 8px ;
/*	margin-left: 24em;
	margin-right:1.8em;
	voice-family: "\"}\"";
	voice-family: inherit; */
	margin-left:25.50em;
	margin-right:2.4em;
	padding:1em .5em 2em .5em;
	font-size:.9em;
}

div#centerColumn p { margin-bottom: 9px; }

/* html>body #centerColumn {
margin-left:17.50em;
margin-right:17.50em;
} */

div#centerColumn h2 { 
	margin-bottom: 10px;
	padding:0;
	font-size:1.3em;
	letter-spacing:.1em;
	color: #fc0;
}


div#footer  { background-color: #222; border-top: 1px solid  #CF9925; width: 98%; clear: both; color: #fff; padding: 6px 1%; font-size: .8em; height: 100px; }
div#footer a { color:  #CF9925; }

div#footer li { list-style: none; float: left; }
div#footer li a { margin: 3px 9px; }


/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}