.container
{
    background:#000;
}
.container_12 {
    background: #fff repeat-y;
}
div#logo-container
{
    background: #000;    
}

.partner-container {
    text-align:center;
    position: relative;
    padding: 5px;
    background: #000;
    color: #000;
    border-bottom: 0px solid #000;
    min-height:1px;
    _height: 1px;
}