.container_12 {
    background: #fff repeat-y;
}
div#logo-container
{
    background: #000;    
}

.partner-container {
    background-position: #000000;
    position: relative;
    padding: 15px 0 6 0;
    background: #FFD731;
    color: #000;
    border-bottom: 1px dotted #585858;
    min-height:1px;
    _height: 1px;
}